.items-container {
	border: 1px solid #ccc;
	margin-left: -1px;
	margin-top: -1px;
	padding: 1rem;
	height: 28rem;
}
.normal-border {
	border: 1px solid #000;
}
.height-100pc {
	height: 100%;
}
.width-100pc {
	width: 100%;
}
html {
	height: 100%;
}
.container-fluid{
	padding-right: 0px !important;
    padding-left: 0px !important;
}
.progress {
  background-color: #f3f3f3;
  border: 0;
  height: 18px;
  border-radius: 9px;
}
.align-vert-hori {
	position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}

.cursorOnHover {
	cursor: pointer;
}